<div style="width:190px; min-height:200px; float:left">
        <ul><span style="font-weight:bold; font-size:14px; list-style:none;"><a href="/mens/" title="View All Mens Clothing" target="_self"><img src="/template/graphics/label-category-newarrivals.png" /></a></span>
                    <li></li>
                    <li style="font-size:12px;"><a href="/mens/new-arrivals/" title="Mens">Jeans</a></li>
                    <li style="font-size:12px;"><a href="/womens/new-arrivals//" title="Womens">Outerwear</a></li>
                </ul>
        </div>