body { 
    margin:0;
    padding:0;
}

img
{
	border:0;
}

.JB_FWS * {
    padding:0;
}

.JB_FWS {
    margin-bottom: 0px; 
    width:460px;
    height:621px;
    background:#000;
    float:left;
    position: relative;
    
    overflow: hidden;
}

.JB_Border {
    width:100%;
    height:15px;
    position: absolute;
}

.JB_Border.Top {
    top:0;
    left:0;
}
.JB_Border.Bottom {
    bottom:0;
    left:0;
}

.JB_Border.Top.ZigZag {
    background-image:url("../img/zigzag_border_top.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
}
.JB_Border.Bottom.ZigZag {
    background-image:url("../img/zigzag_border_bottom.png");
    background-repeat: repeat-x;
    background-position: 0px 100%;
}

.JB_Border.Top.Paper {
    background-image:url("../img/torn_paper_bg_top.png");
    background-repeat: repeat-x;
    background-position: 0px 0px;
}
.JB_Border.Bottom.Paper {
    background-image:url("../img/torn_paper_bg_bottom.png");
    background-repeat: repeat-x;
    background-position: 0px 100%;
}

.JB_Button_Left {
    padding:15px;
    width:21px;
    height:30px;
    background-image: url("../img/leftslider.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top:43%;
    left:0;
    cursor: pointer;
}

.JB_Button_Left_BG {
    padding:15px;
    width:21px;
    height:30px;
    background-color:#000;
    opacity:0.44;
    position: absolute;
    top:50%;
    left:0;
}

.JB_Button_Right {
    padding:15px;
    width:21px;
    height:30px;
    background-image: url("../img/rightslider.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
    top:43%;
    right:0;
    cursor: pointer;
}

.JB_Button_Right_BG {
    padding:15px;
    width:21px;
    height:30px;
    background-color:#000;
    opacity:0.44;
    position: absolute;
    top:50%;
    right:0;
}

.JB_Container {

    width:9999px;
    height:621px;
    margin:0 auto;
    position: absolute;
    overflow: hidden;
    left:0;

    cursor:hand;
    cursor:grab!important;
    cursor:-moz-grab;
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), pointer!important;
    cursor:-webkit-grab;
}

.JB_Slide {
    height:621px;
    float:left;
    position: relative;
}

.JB_Slide_Content {
    width:100%;
    margin: 0 auto;
    position: relative;
}

.JB_Pagination {
    width:100%;
    height:12px;
    position: absolute;
    bottom:45px;
    left:0;
}

.JB_Pages {
    display: table;
    margin: 0 auto;
}

.JB_Page {
    background-image:url("../img/pagemarker.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width:15px;
    height:13px;
    float:left;
    margin-left:5px;
    cursor: pointer;
}
.JB_Page:hover, .JB_Page.active  {
    background-position: -14px 0px;
}

.JB_ReadMore {
    float:left;
    color:#fff;
    margin-top:15px;
    position: relative;
}

.JB_ReadMore_BG {
    top:0;
    lef:0;
    position: absolute;
    background:#000;
    opacity:0.44;
    width:100%;
    height:100%;
}

.JB_ReadMore a {
    padding:10px 30px 10px 20px;
    position: relative;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    color:#FFF;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    background-image:url("../img/pagemarker.png");
    background-repeat: no-repeat;
    background-position: 90% 50%;
    font-size: 12px;
}


/* --- MEDIA QUERY --- */
@media only screen and (max-width: 1280px) {
    .JB_Slide_Content {
        width:100%;
    }
}
@media only screen and (max-width: 1024px) {
    .JB_Slide_Content {
        width:100%;
    }
}










/* --- DEMO SLIDES CONTENT BELOW (Not important demo styles) YOU CAN REMOVE THE STYLE BELOW --- */

h2 {
    width:100%;
}
.big_text {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 40px;
    font-weight: bold;
    height: 40px;
    margin: 180px auto;
    text-shadow: 0 2px 0 #A22626;
    width: 760px;
}

.image {
}

.slide1a { 
    margin:170px auto 0;
	width:751px;
}

.slide2a { 
    margin:170px auto 0;
	width:751px;
}

.slide2b { 
    margin:230px 15% 0;
	width:200px;
	position:absolute;
}

.slide2c { 
    margin:230px 67% 0;
	width:200px;
	position:absolute;
}

.slide3a { 
    margin:40px auto 0;
	width:224px;
}

.slide3b {
	margin:110px 37% 0;
	position:absolute;
}

.slide3c { 
    margin:110px 57% 0;
	position:absolute;
}

.slide3d { 
    margin:110px 57% 0;
	position:absolute;
}

.image iframe {
    border:5px solid #6e8c42;
}

.title {
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    color:#fff;
    font-weight:bold;
    margin-top:60px;
    float:left;
}

.text {
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#fff;
    line-height:20px;
    margin-top:10px;
}

.list {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    color:#fff;
    float:left;
    margin-top:12px;
    line-height:20px;
}

.list li {
    background-image:url(../img/button_arrow.png);
    background-repeat:no-repeat;
    background-position:left;
    text-indent:15px;
    list-style-type:none;
}

.text_box {
    float:left;
    width:400px;
    margin-left:20px;
}

@media only screen and (max-width: 1280px) {
    .text_box {width:300px;}
}
@media only screen and (max-width: 1024px) {
    .text_box {width:280px;}
    .title {font-size: 13px;}
    .text {font-size: 12px;}
    .image { 
    }
    
    /*.image img {
        width: 300px;
        height:187px; 
        margin-top:10px;
    }*/
    .image iframe {
        width: 289px;
        height:180px;
        margin-top:15px;
    }
    
    .big_text {
        font-size: 26px;
        width: 500px;
    }
}
