%%GLOBAL_OptimizerLinkScript%%

%%GLOBAL_CartCheckoutButtonControlScript%%
<div class="Block Moveable Panel" id="CartHeader">
    
        <span style="%%GLOBAL_HideCheckoutButton%%;" class="FloatRight">
            <a href="%%GLOBAL_CheckoutLink%%" onclick="%%GLOBAL_OptimizerLinkFunction%%" title="%%LNG_CheckoutButtonTitle%%">
            
            %%GLOBAL_CartCheckoutButtonOptimizerScriptTag%%
            <img src="/template/graphics/btn-checkout.png" alt="Proceed to Checkout" />
            <!--<img src="%%GLOBAL_IMG_PATH%%/%%GLOBAL_SiteColor%%/CheckoutButton.gif" alt="%%LNG_CheckoutButtonTitle%%" />-->
            %%GLOBAL_CartCheckoutButtonOptimizerNoScriptTag%%

            </a>
            %%GLOBAL_AdditionalCheckoutButtons%%
        </span>
    <span style="font-size:18px">YOUR SHOPPING CART</span>
    
</div>
%%Discount.FreeShippingEligibility%%
