        <!--<br class="Clear" />-->
        </div>
    </div>

    <div id="footer-main">
    
    <div id="footer-cell-links">
        <ul style="list-style:none;">
            <li>CUSTOMER SERVICE</li>
            <li><a href="/terms-conditions/" title="Customer Service">Customer Service</a></li>
            <li><a href="http://bi2m8tph.myutilitysite.com/storelocations" title="Store Locator">Store Locator</a></li>
            <li><a href="/fit-guide" title="Fit Guide">Fit Guide</a></li>
                <li><a href="/faqs/" title="Frequently Asked Questions">FAQ</a></li>
        </ul>
    </div>
    
    <div id="footer-cell-links">
         <ul style="list-style:none;">
            <li>ACCOUNT</li>
            <li><a href="/account.php" title="My Account">My Account</a></li>
            <li><a href="/cart.php" title="View Cart">View Cart</a></li>
            <li><a href="/wishlist.php" title="Wish List">Wish List</a></li>
            <li><a href="/giftcertificates.php" title="Gift Certificates">Gift Certificates</a></li>
      </ul>
    </div>
    
    <div id="footer-cell-links">
        <ul style="list-style:none;">
            <li>COMPANY</li>
            <li><a href="/about" title="About">About</a></li>
            <!--li><a href="/making-the-jeans" title="Making the Jeans">Making the Jeans</a></li-->
            <li><a href="/contact" title="Contact">Contact</a></li>
			<li><a href="http://cultofindividuality.com/template/books/book-3/index.html" target="_blank" title="Look Book"><img src="/template/graphics/look-book.png" style="vertical-align: middle">&nbsp;&nbsp;&nbsp;&nbsp;2014 Spring Lookbook</a></li>
        </ul>
    </div>
    
    <div id="footer-cell-links">
        <ul style="list-style:none;">
            <li>SOCIAL COMMUNITIES</li>
            <li><a href="https://www.facebook.com/cultofindividuality" target="_blank" title="Editorial"><img src="/template/graphics/social/facelogo.png" style="vertical-align: middle">&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a></li>
            <li><a href="https://twitter.com/cultdenim" title="Celebrity" target="_blank" ><img src="/template/graphics/social/twitlogo.png" style="vertical-align: middle">&nbsp;&nbsp;&nbsp;&nbsp;Twitter</a></li>
            <li><a href="http://www.youtube.com/user/Cultof1ndividuality" title="Digital Media" target="_blank" ><img src="/template/graphics/social/tubelogo.png" style="vertical-align: middle">&nbsp;&nbsp;&nbsp;&nbsp;YouTube</a></li>
            <li><a href="http://instagram.com/cultdenim" title="Digital Media" target="_blank" ><img src="/template/graphics/social/instalogo.png" style="vertical-align: middle">&nbsp;&nbsp;&nbsp;&nbsp;Instagram</a></li>
            <li><a href="https://www.pinterest.com/cultdenim/" title="Digital Media" target="_blank" ><img src="/template/graphics/social/pintlogo.png" style="vertical-align: middle">&nbsp;&nbsp;&nbsp;&nbsp;Pinterest</a></li>
            
        </ul>
    </div>
    
        <div id="footer-newsletter">
       <!--%% Panel.SideNewsletterBox%% -->
       <a href="/join-the-cult/"><img src="/template/images/Mailing_List_Footer_Button.jpg" style="margin-left: -100px;"></a>
            </div>
    
       <div class="footer-links-left">
           <a href="/privacy-policy/">PRIVACY POLICY</a><span class="footerdivider">|</span><a href="/terms-conditions/">TERMS & CONDITIONS</a><span class="footerdivider">|</span><a href="/sitemap/">SITEMAP</a>
</div> 
        
        <div class="footer-links-right">
    ©&nbsp;2014 CULT OF INDIVIDUALITY, ALL RIGHTS RESERVED </div> 
        
</div>




<div id="footer-background">
            <div id="footer-background-stitch-top"></div>
            <div id="footer-background-stitch-bottom"></div>
</div> 




<script type="text/javascript">
$('#CheckoutStepShippingAddress').remove();
$(document).ready(function(){
$('.ExpressCheckoutContent').ajaxSuccess(function(){

    $('#BillingAddressTypeNew').parent().hide();
    $('#ship_to_billing_existing').attr('checked','checked');
    $('#ship_to_billing_existing').parent().hide();
    $('#ship_to_billing_new').attr('checked','checked');
    $('#ship_to_billing_new').parent().hide();
    $('.billingButton').attr('value','Proceed');
    });
});
</script>


        
        
    %%GLOBAL_DesignModeHTML%%
    %%GLOBAL_QueryList%%
    %%GLOBAL_DesignModeScriptTag%%
    %%GLOBAL_LiveChatFooterCode%%

    %%GLOBAL_OptimizerTrackingScript%%
    %%GLOBAL_OptimizerConversionScript%%
    %%GLOBAL_OptimizerSetCookieScript%%

    %%GLOBAL_FooterScripts%%
    %%SNIPPET_FastCartThickBoxJs%%

