            <div id="SearchForm">
                <form action="%%GLOBAL_ShopPath%%/search.php" method="get" onsubmit="return check_small_search_form()">
                    <label for="search_query">SEARCH</label>
                    <input type="text" name="search_query" id="search_query" class="Textbox" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;" value="Search" />
                    <input type="image" src="/template/graphics/btn-search.png" class="Button" id="searcharrow" />
                </form>
                <!--<p>
                    <a href="%%GLOBAL_ShopPathNormal%%/search.php?mode=advanced"><strong>%%LNG_AdvancedSearch%%</strong></a> |
                    <a href="%%GLOBAL_ShopPathNormal%%/search.php?action=Tips">%%LNG_SearchTips%%</a>
                </p>-->
            </div>

            <script type="text/javascript">
                var QuickSearchAlignment = 'left';
                var QuickSearchWidth = '200px';
                lang.EmptySmallSearch = "%%LNG_EmptySmallSearch%%";
            </script>
