<div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
        %%GLOBAL_MaintenanceNotice%%

        
        <div id="Outer">
            <div id="Header">
                <!--%%Panel.PagesMenu%%-->
                <div id="HeaderLower">
                    %%Panel.TopMenu%%
                </div>
            </div>
