            <div class="Block FeaturedProducts Moveable Panel"  id="HomeFeaturedProducts" style="display:%%GLOBAL_HideHomeFeaturedProductsPanel%%">
                    <h2><img src="/template/graphics/tab-featuredproducts.png" border="0" /></h2>
                    <div class="BlockContent">
                        <ul class="ProductList">
                            %%SNIPPET_HomeFeaturedProducts%%
                        </ul>
                    </div>
                    <br class="Clear" />
                </div>
