<head>
    %%GLOBAL_OptimizerControlScript%%

    <title>%%Page.WindowTitle%%</title>
    
    <meta name="google-site-verification" content="YyJ89yk-h_Fw0DKrZEedI2P87aWBdsZ4FqMJWnDZ9mc" />
    <meta name="google-site-verification" content="ppKAgQC0-NW7hLd-UXDdarnuRjoryyuVJIfJifVFpEU" />
    <meta name="p:domain_verify" content="55f6c699337eb90650746eb29cc5e8e9"/>
    
    <meta http-equiv="Content-Type" content="text/html; charset=%%GLOBAL_CharacterSet%%" />
    <meta name="description" content="%%Page.MetaDescription%%" />
    <meta name="keywords" content="%%Page.MetaKeywords%%" />
    %%GLOBAL_AdditionalMetaTags%%
    %%Page.CanonicalLink%%
    %%Page.Robots%%
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="google-site-verification" content="yzthg3eDfYD4-2vzK8VSnB7a06RIIXM6S-Z_C8W2JMw" />
   <link rel="stylesheet" type="text/css" href="/template/Styles/style.css"/>
    <link rel="shortcut icon" href="%%GLOBAL_Favicon%%" />

    <!-- begin: js page tag -->
   <script language="javascript" type="text/javascript">//<![CDATA[
        (function(){
            // this happens before external dependencies (and dom ready) to reduce page flicker
            var node, i;
            for (i = window.document.childNodes.length; i--;) {
                node = window.document.childNodes[i];
                if (node.nodeName == 'HTML') {
                    node.className += ' javascript';
                }
            }
        })();
    //]]></script>
    <!-- end: js page tag -->

    %%GLOBAL_Stylesheets%%
    
    

    <!-- Tell the browsers about our RSS feeds -->
    %%GLOBAL_HeadRSSLinks%%

    <!-- Include visitor tracking code (if any) -->
    %%GLOBAL_TrackingCode%%

    %%GLOBAL_DesignModeStyleSheet%%

    %%GLOBAL_HeaderImageStyle%%

    <script type="text/javascript" src="%%GLOBAL_jQueryPath%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/menudrop.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/common.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/javascript/iselector.js?%%GLOBAL_JSCacheToken%%"></script>
    <script type="text/javascript" src="/template/css_browser_selector.js" ></script>
    
    <!-- Template bespoke js -->
    <script type="text/javascript" src="%%GLOBAL_ShopPath%%/templates/CleanContrast/js/init.js"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
    //<![CDATA[
    config.ShopPath = '%%GLOBAL_ShopPath%%';
    config.AppPath = '%%GLOBAL_AppPath%%';
    config.FastCart = %%GLOBAL_FastCart%%;
    var ThumbImageWidth = %%GLOBAL_ProductThumbImageWidth%%;
    var ThumbImageHeight = %%GLOBAL_ProductThumbImageHeight%%;
    //]]>
    </script>
    %%GLOBAL_AdditionalScriptTags%%
    %%GLOBAL_QuickSearchJS%%
    %%GLOBAL_RTLStyles%%
</head>
<div id="header-background"></div>
<div id="header-background-stitch"></div>

