<div id="sidenav">
    <ul>
        <li><span style="font-weight:bold; font-size:21px; list-style:none; margin-left:-68px;"><span style="margin-right:12px;"><img src="/template/graphics/redsquare.png"></span><a href="/new-arrivals/" title="New Arrivals" target="_self">NEW ARRIVALS</a></span></li>
        <div class="sidenav">            
        <li></li>
        <li style="font-size:18px; padding: 10px 0 7px 0;"><a style="color:#fff"><a href="/mens/new-arrivals/" title="Mens New Arrivals">MENS</a></li>
            <li style="font-size:18px; padding: 10px 0 7px 0;"><a style="color:#fff"><a href="/womens/new-arrivals/" title="Womens New Arrivals">WOMENS</a></li>
                  
                </ul>
            </div></div>