<div id="sidenav">
    <ul>
        <li><span style="font-weight:bold; font-size:21px; list-style:none; margin-left:-68px;"><span style="margin-right:12px;"><img src="/template/graphics/redsquare.png"></span><a href="/mens/" title="View All Womens Clothing" target="_self">SHOP MENS</a></span></li>
        <div class="sidenav">            
        <li></li>
        <li class="SideNavMain"><a style="color:#fff"><a href="/mens/new-arrivals/" title="Mens New Arrivals">NEW ARRIVALS</a></li>
                    <li class="SideNavMain"><a href="/mens/jeans/" title="Mens Jeans by Fit">JEANS BY FIT</a></li>
                            <li class="SideNavSub"><a href="/mens/jeans/trysten-boot/" title="Mens Trysten Boot Jeans">Trysten Boot</a></li>
                            <li class="SideNavSub"><a href="/mens/jeans/hagen-relaxed/" title="Mens Hagen Relaxed Jeans">Hagen Relaxed</a></li>
                            <li class="SideNavSub"><a href="/mens/jeans/Harleyregular/" title="Mens Harley Regular Jeans">Harley Regular</a></li>
                            <li class="SideNavSub"><a href="/mens/jeans/rebel-straight/" title="Mens Rebel Straight Jeans">Rebel Straight</a></li>
                            <li class="SideNavSub"><a href="/mens/jeans/rocker-slim/" title="Mens Rocker Slim Jeans">Rocker Slim</a></li>
                            <li class="SideNavSub"><a href="/mens/jeans/shorts/" title="Mens Shorts">Shorts</a></li>
                            
                    <li class="SideNavMain"><a href="/mens/shirts/" title="Mens Shirts">Shirts</a></li>
            <li class="SideNavSub"><a href="/mens/shirts/mens-shirts" title="Mens Shirts">Shirts</a></li>
            <li class="SideNavSub"><a href="/mens/shirts/tees" title="Mens Tees">Tees</a>
                    <!-- <li class="SideNavMain"><a href="/mens/shirts/" title="Mens Shirts">Shirts</a></li> -->
                    
                    <li class="SideNavMain"><a href="/mens/outerwear/" title="Mens Outerwear">Outerwear</a></li>
                            <li class="SideNavMain"><a href="/mens/accessories/" title="Mens Accessories">Accessories</a></li>
                </ul>
            </div></div>