<div id="sidenav">
    <ul>
        <li><span style="font-weight:bold; font-size:21px; list-style:none; margin-left:-68px;"><span style="margin-right:12px;"><img src="/template/graphics/redsquare.png"></span><a href="/sale/" title="Last Chance" target="_self">LAST CHANCE</a></span></li>
        <div class="sidenav">            
        <li></li>
        <li style="font-size:18px; padding: 10px 0 7px 0;"><a style="color:#fff"><a href="/sale/mens/" title="Mens Last Chance">MENS</a></li>
            <li style="font-size:18px; padding: 10px 0 7px 0;"><a style="color:#fff"><a href="/sale/womens/" title="Womens Last Chance">WOMENS</a></li>
                  
                </ul>
            </div></div>​