<div id="sidenav">
    <ul>
        <li><span style="font-weight:bold; font-size:21px; list-style:none; margin-left:-68px;"><span style="margin-right:12px;"><img src="/template/graphics/redsquare.png"></span><a href="/womens/" title="View All Womens Clothing" target="_self">SHOP WOMENS</a></span></li>
        <div class="sidenav">            
        <li></li>
        <li style="font-size:18px; padding: 10px 0 7px 0;"><a style="color:#fff"><a href="/womens/new-arrivals/" title="Womens New Arrivals">NEW ARRIVALS</a></li>
                    <li class="SideNavMain"><a href="/womens/jeans/" title="Womens Jeans">JEANS</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/bohemi-boot/" title="Womens Bohemi Boot Jeans">Bohemi Boot</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/vixen-midrise-boot/" title="Womens Vixen Midrise Boot">Vixen Midrise Boot</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/hippie-slim-boot/" title="Womens Hippie Slim Boot Jeans">Hippie Slim Boot</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/teaser-skinny/" title="Womens Teaser Skinny Jeans">Teaser Skinny</a></li>
            <li class="SideNavSub"><a href="/womens/jeans/teaser-skinny-crop/" title="Womens Teaser Crop Jeans">Teaser Skinny Crop</a></li>
                            <!--li class="SideNavSub"><a href="/womens/jeans/teaser-skinny-crop/" title="Womens Teaser Skinny Crop Jeans">Teaser Skinny Crop</a></li-->
                            <li class="SideNavSub"><a href="/womens/jeans/teaser-skinny-reverse/" title="Womens Teaser Skinny Reverse Jeans">Teaser Skinny Reverse</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/zen-midrise-skinny/" title="Womens Zen Midrise Skinny Jeans">Zen Midrise Skinny</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/karma-straight/" title="Womens Karma Straight Jeans">Karma Straight</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/flirt-jegging/" title="Womens Flirt Jeggings">Flirt Jeggings</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/rogan-capri/" title="Womens Rogan Capri Jeans">Rogan Capri</a></li>
                            <li class="SideNavSub"><a href="/womens/jeans/x-lover/" title="Womens X-Lover Jeans">X-Lover Boyfriend</a></li>
                            
                            <!--li class="SideNavSub"><a href="/womens/jeans/leisure-flare/" title="Womens Leisure Flare Jeans">Leisure Flare</a></li-->
                            
                            
                    <!--<li style="font-size:12px; padding: 5px 0 7px 0;"><a href="/womens/tees/" title="Womens Tees">Tees</a></li>-->
                    <li class="SideNavMain"><a href="/womens/shorts/" title="Womens Shorts">Shorts</a></li>
                    <li class="SideNavMain"><a href="/womens/tees/" title="Womens Tees">Tees</a></li>
                    <li class="SideNavMain"><a href="/womens/outerwear/" title="Womens Outerwear">Outerwear</a></li>
                </ul>
            </div></div>