<div class="Block Moveable Panel" id="PageContent">
    %%GLOBAL_PageNameOptimizerScriptTag%%
    
    %%GLOBAL_PageNameOptimizerNoScriptTag%%
    <div class="BlockContent">
    %%GLOBAL_PageDescriptionOptimizerScriptTag%%
        %%GLOBAL_PageContent%%
    %%GLOBAL_PageDescriptionOptimizerNoScriptTag%%
    </div>
</div>