<link rel="stylesheet" type="text/css" href="%%GLOBAL_AppPath%%/javascript/jquery/themes/cupertino/ui.all.css?%%GLOBAL_JSCacheToken%%" />
<link rel="stylesheet" type="text/css" media="screen" href="%%GLOBAL_productAttributesCssPath%%?%%GLOBAL_JSCacheToken%%" />
<script type="text/javascript" src="%%GLOBAL_jQueryUIPath%%"></script>
<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/jquery/plugins/jquery.form.js?%%GLOBAL_JSCacheToken%%"></script>
<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/product.attributes.js?%%GLOBAL_JSCacheToken%%"></script>
<script type="text/javascript" src="%%GLOBAL_AppPath%%/javascript/jquery/plugins/jCarousel/jCarousel.js?%%GLOBAL_JSCacheToken%%"></script>
%%SNIPPET_ProductImageZoomer%%

<script type="text/javascript">//<![CDATA[
var ThumbURLs = new Array();
var ProductImageDescriptions = new Array();
var CurrentProdThumbImage = %%GLOBAL_CurrentProdThumbImage%%;
var ShowVariationThumb =false;
var ProductThumbWidth = %%GLOBAL_ProductThumbWidth%%;
var ProductThumbHeight =  %%GLOBAL_ProductThumbHeight%%;
var ProductMaxZoomWidth = %%GLOBAL_ProductMaxZoomWidth%%;
var ProductMaxZoomHeight =  %%GLOBAL_ProductMaxZoomHeight%%;
var ProductTinyWidth = %%GLOBAL_ProductMaxTinyWidth%%;
var ProductTinyHeight =  %%GLOBAL_ProductMaxTinyHeight%%;

%%GLOBAL_ProdImageJavascript%%

var ShowImageZoomer = %%GLOBAL_ShowImageZoomer%%;

var productId = %%GLOBAL_ProductId%%;
//]]></script>
%%Discount.FreeShippingEligibility%%

<div class="Block Moveable Panel PrimaryProductDetails" id="ProductDetails">
    <div class="BlockContent">
        %%GLOBAL_ProductDetailFlashMessages%%
        <div class="ProductThumb" style="max-height:540px" height="540px">
            %%GLOBAL_LightBoxImageJavascript%%
            %%SNIPPET_ProductThumbImage%%
            <br class="Clear">
            <div class="ImageCarouselBox" style="margin: 0px auto; padding-left: 0px;  %%GLOBAL_HideImageCarousel%%">
                
                <div class="ProductTinyImageList" >
                    <ul>
                        %%SNIPPET_ProductTinyImages%%
                    </ul>
                </div>
                

                
            </div>
            <div style="%%GLOBAL_HideMorePicturesLink%%" class="SeeMorePicturesLink">
                <a href="#" onclick="%%GLOBAL_TinyImageClickJavascript%% return false;" class="ViewLarger">%%GLOBAL_SeeMorePictures%%</a>
            </div>
        </div>
        
        <div class="ProductMain Edit">
            %%GLOBAL_FacebookLikeButtonAbove%%
            <div class="ProductDetailsGrid">
                
                <!--div class="DetailRow RetailPrice" style="display: none">
                    <!<div class="Label">%%LNG_RRP%%:</div>>
                    <div class="Value">
                        
                    </div>
                </div-->
                
                %%GLOBAL_ProductNameOptimizerScriptTag%%
            <h1 style="margin-top: -6px;">%%GLOBAL_ProductName%% %%GLOBAL_SKU%%</h1>
        %%GLOBAL_ProductNameOptimizerNoScriptTag%%
                
                %%Panel.ProductDescription%%
                %%SNIPPET_ProductExpectedReleaseDate%%
                <div width="538px" style="overflow: hidden;"> 
                    <img src="/template/images/stitches.jpg">
                </div>
                <div class="DetailRow RetailPrice" style="display: %%GLOBAL_HideRRP%%">
                    <div class="Label">Original Price:</div>
                    <div class="Value">
                        %%GLOBAL_RetailPrice%%
                    </div>
                </div>

                <div class="DetailRow PriceRow" style="%%GLOBAL_HidePrice%%">
                    <div class="Label">%%GLOBAL_PriceLabel%%:</div>
                    <div class="Value">
                        <em class="ProductPrice VariationProductPrice">%%GLOBAL_ProductPrice%%</em>
                        %%GLOBAL_IncludingExcludingTax%% %%GLOBAL_YouSave%%
                    </div>
                   
                </div>
                

                <!--<div class="DetailRow ProductSKU" style="display: %%GLOBAL_HideSKU%%">
                    <div class="Label">%%LNG_SKU%%:</div>
                    <div class="Value">
                        <span class="VariationProductSKU">
                            %%GLOBAL_SKU%%
                        </span>
                    </div>
                </div>-->

                <div class="DetailRow" style="%%GLOBAL_HideVendorDetails%%">
                    <div class="Label">%%LNG_Vendor%%:</div>
                    <div class="Value">
                        %%GLOBAL_VendorName%%
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideBrandLink%%">
                    <div class="Label">%%LNG_Brand%%:</div>
                    <div class="Value">
                        <a href="%%GLOBAL_BrandLink%%">%%GLOBAL_BrandName%%</a>
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideCondition%%">
                    <div class="Label">%%LNG_Condition%%:</div>
                    <div class="Value">
                        %%GLOBAL_ProductCondition%%
                    </div>
                </div>

                <!--<div class="DetailRow" style="display: %%GLOBAL_HideWeight%%">
                    <div class="Label">%%LNG_Weight%%:</div>
                    <div class="Value">
                        <span class="VariationProductWeight">
                            %%GLOBAL_ProductWeight%%
                        </span>
                    </div>
                </div>-->

                <div class="DetailRow" style="display: %%GLOBAL_HideRating%%">
                    <div class="Label">%%LNG_Rating%%:</div>
                    <div class="Value">
                        <img width="64" height="12" src="%%GLOBAL_IMG_PATH%%/IcoRating%%GLOBAL_Rating%%.gif" alt="" />
                        <span style="display:%%GLOBAL_HideReviewLink%%">(
                            <a href="#reviews" onclick="%%GLOBAL_ReviewLinkOnClick%%">
                                %%GLOBAL_ReviewLinkText%%
                            </a>)
                        </span>
                    </div>
                </div>

                <div class="DetailRow" style="display: %%GLOBAL_HideAvailability%%">
                    <div class="Label">%%LNG_Availability%%:</div>
                    <div class="Value">
                        %%GLOBAL_Availability%%
                    </div>
                </div>

                <!--<div class="DetailRow" style="display: %%GLOBAL_HideShipping%%">
                    <div class="Label">%%LNG_Shipping%%:</div>
                    <div class="Value">
                        %%GLOBAL_ShippingPrice%%
                    </div>
                </div>-->

                <div class="DetailRow" style="%%GLOBAL_HideMinQty%%">
                    <div class="Label">%%LNG_ProductMinQty%%:</div>
                    <div class="Value">
                        %%GLOBAL_MinQty%% %%LNG_units%%
                    </div>
                </div>

                <div class="DetailRow" style="%%GLOBAL_HideMaxQty%%">
                    <div class="Label">%%LNG_ProductMaxQty%%:</div>
                    <div class="Value">
                        %%GLOBAL_MaxQty%% %%LNG_units%%
                    </div>
                </div>

                <div class="DetailRow InventoryLevel" style="%%GLOBAL_HideCurrentStock%%">
                    <div class="Label">%%GLOBAL_CurrentStockLabel%%:</div>
                    <div class="Value">
                        <span class="VariationProductInventory">
                            %%GLOBAL_InventoryList%%
                        </span>
                    </div>
                </div>
                <div class="DetailRow" style="%%GLOBAL_HideGiftWrapMessage%%">
                    <div class="Label">Gift Wrap:</div>
                    <div class="Value">
                        %%GLOBAL_GiftWrappingAvailable%%
                    </div>
                </div>
            </div>

	<!-- GeoTrust QuickSSL [tm] Smart  Icon tag. Do not edit. -->
		<div class="geotrust">
			<script language="javascript" type="text/javascript" src="//smarticon.geotrust.com/si.js"></script>
		</div>
	<!-- end  GeoTrust Smart Icon tag -->

            %%SNIPPET_ProductAddToCartRight%%
            


            <!--div id="PinterestButtonContainer" style="float:left; position:absolute; margin-top:-15px;">%%GLOBAL_PinterestButton%%</div>
            %% GLOBAL_FacebookLikeButtonBelow%%
            %% GLOBAL_AddThisLink%% -->
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_pinterest_share"></a>
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            </div>
            <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f79ddd08117c5d"></script>
            <!-- AddThis Button END -->

            
        </div>
        %%SNIPPET_ProductAddToCartBelow%%

        <br class="Clear" />
    </div>
</div>
<div  style="overflow: hidden;"> 
                    <img src="/template/images/stitches.jpg">
                </div>

