<div class="Block Moveable Panel ProductDescription" id="ProductDescription">
    <!--<h2>%%LNG_ProductDescription%%</h2>-->
    <div class="ProductDescriptionContainer">
        %%GLOBAL_ProductDescriptionOptimizerScriptTag%%
            %%GLOBAL_ProductDesc%%
        
        %%GLOBAL_ProductDescriptionOptimizerNoScriptTag%%
    </div>
    <!--hr style="%%GLOBAL_HideSectionSeparator%%;" class="ProductSectionSeparator" /-->
</div>
