<div class="Block Panel" id="SearchTabProducts">
    <div id="SearchResultsCategoryAndBrand" style="display: %%GLOBAL_HideSearchResultsCategoryAndBrand%%">
        <div id="SearchResultsCategory" style="display: %%GLOBAL_HideSearchResultsCategory%%">
            %%LNG_SearchedForCategories%% %%GLOBAL_SearchResultsCategory%%
        </div>
        <div id="SearchResultsBrand" style="display: %%GLOBAL_HideSearchResultsBrand%%">
            %%LNG_SearchedForBrands%% %%GLOBAL_SearchResultsBrand%%
        </div>
    </div>

    <div id="SearchResultsProduct" style="display: %%GLOBAL_HideSearchResultsProduct%%">
        %%GLOBAL_SearchResultsProduct%%
        <!--%%GLOBAL_SnippetSearchResultsFeed%%-->
    </div>

    <div style="display: %%GLOBAL_HideSearchResultsNoResult%%">
        <p class="ErrorMessage">%%LNG_SearchYourSearch%% <strong>"%%GLOBAL_OriginalSearchQuery%%"</strong> %%LNG_SearchDidNotMatchProduct%%</p>

        <div class="InfoMessage">
            <p><strong>%%LNG_SearchSuggestions%%:</strong></p>
            <ul>
                <li>%%LNG_SearchSuggestion1%%</li>
                <li>%%LNG_SearchSuggestion2%%</li>
                <li>%%LNG_SearchSuggestion3%%</li>
            </ul>
        </div>
    </div>
</div>