<div class="Block Moveable Panel" style="margin-top:40px;" id="SideGiftCertificateCodeBox">
    <h2>Gift Certificate</h2>
    <div class="BlockContent">
        <script type="text/javascript">
            lang.EnterGiftCertificateCode = "%%LNG_EnterGiftCertificateCode%%";
        </script>
        <form onsubmit="return Cart.CheckGiftCertificateCode()" action="%%GLOBAL_ShopPath%%/cart.php" method="post">
            <input type="hidden" name="action" value="applygiftcertificate" />
            <div class="GiftCertificateCode">
                <p>Enter your code below and click 'Submit'</p>
                <input type="text" name="giftcertificatecode" id="giftcertificatecode" class="Textbox Field100" />
                <input type="image" alt="%%LNG_Go%%" src="/template/graphics/btn-submit.png" style="vertical-align: bottom;" />
            </div>
        </form>
        <hr />
    </div>
</div>