                %%GLOBAL_NewsletterBoxControlScript%%

                <div class="Block NewsletterSubscription" id="SideNewsletterBox">
                    %%GLOBAL_NewsletterHeaderOptimizerScriptTag%%
                    <!--h2>%%LNG_OurNewsletter%%</h2-->
                    %%GLOBAL_NewsletterBoxOptimizerNoScriptTag%%
                    <div class="BlockContent">
                        <form action="%%GLOBAL_ShopPath%%/subscribe.php" method="post" id="subscribe_form" name="subscribe_form">
                            <div class="Column1">
                                <input type="hidden" name="action" value="subscribe" />
                                <!--label for="nl_first_name">%%LNG_YourFirstName%%:</label-->
                                <input type="text" class="Textbox" id="nl_first_name" name="nl_first_name" value="webpagesignup" style="display:none"/>
                            </div>
                            <div class="Column2">
                                <!--label for="nl_email">Enter Your Email Address</label-->
                                <input type="text" class="Textbox" id="nl_email" name="nl_email" value="" placeholder="Enter Your Email Address"/>
                                <input type="image"  value="SUBMIT" class="Button" />
                            </div>
                            %%GLOBAL_NewsletterButtonOptimizerScriptTag%%
                            
                            %%GLOBAL_NewsletterBoxOptimizerNoScriptTag%%
                        </form>
                    </div>
                </div>
                %%Panel.NewsletterJavaScript%%