<div class="Block Moveable Panel AddToWishlist" id="SideProductAddToWishList" style="display:%%GLOBAL_HidePurchasingOptions%%%%GLOBAL_HideWishlist%%">
    <div class="BlockContent">
        <!--p>Click the button below to add item to your personal wish list.</p-->
        <form name="frmWishList" id="frmWishList" action="%%GLOBAL_ShopPath%%/wishlist.php" method="get">
            <input type="hidden" name="action" value="add" />
            <input type="hidden" name="product_id" value="%%GLOBAL_ProductId%%" />
            <input type="hidden" name="variation_id" value="" class="WishListVariationId"/>
            <p><input id="customaddtowishlist" type="submit" value="ADD TO WISHLIST" alt="%%LNG_AddToWishList%%" /></p>
        </form>
    </div>
</div>
