<div class="Block Moveable Panel" id="SimilarMultiProductsByCustomerViews">
    <h2>Customers Also Viewed</h2>
    <div class="BlockContent">
        <ul class="ProductList">
            %%SNIPPET_SimilarMultiProductsByCustomerViews%%
        </ul>
    </div>
</div>