
<div class="Block Moveable Panel" id="SimilarProductsByCustomerViews" style="float:right; width:1040px;">
    <h3>Others also viewed</h3>
    <div class="BlockContent">
        <ul class="ProductList">
            %%SNIPPET_SimilarProductsByCustomerViews%%
        </ul>
    </div>
</div>
