    %%GLOBAL_OptimizerLinkScript%%    
        
        <div id="TopMenu">
            
            <div id="header-main">
    <a id="logo-coi" href="/" target="_self" title="Cult of Individuality"></a>
    
                
                
                
        <!--<div id="search-box"></div>
        <div id="search-button"></div>-->
        
        <div id="searchsection">
            <a href="%%GLOBAL_ShopPathNormal%%/cart.php">%%LNG_ViewCart%% <span>%%GLOBAL_CartItems%%</span></a>
        %%Panel.HeaderSearch%%
        </div>
    
        <div id="header-nav-holder">
        <a id="btn-newarrivals" target="_self" href="/new-arrivals/" title="New Arrivals"></a>
        <a id="btn-mens" target="_self" class="nav-top-margin" href="/mens/" title="Mens"></a>
        <a id="btn-womens" target="_self" class="nav-top-margin" href="/womens/" title="Womens"></a>
        <a id="btn-sale" target="_self" class="nav-top-margin" href="/sale/" title="Sale"></a>
            <a id="btn-uncommon" target="_blank" class="nav-top-margin" href="http://blog.cultofindividual­ity.­com" title="The Uncommon Thread"></a>
        <!--<a id="btn-giftcards" target="_self" class="nav-top-margin" href="/giftcertificates.php" title="Gift Cards"></a>-->
            <!--<a id="btn-jointhecult" target="_self" class="nav-top-margin" href="/join-the-cult/" title="Join the Cult"></a>-->
        <!--<a id="btn-storelocator" target="_self" class="nav-top-margin" href="http://bi2m8tph.myutilitysite.com/storelocations" title="Store Locator"></a>-->
        </div>
            <div class="Clear" />
                <div id="headerfreeship"><font color="red">FREE SHIPPING</font> ON ALL ORDERS OVER $125
                </div>
        </div>