@charset "utf-8";
/* CSS Document */

/** - MAIN - **/
body {
background: #000;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
margin: 0;;
}

#container-1 {
position: absolute;
display: table;
width: 100%;
height: 100%;
}


@font-face{
    font-family: oratorstd;
    src: url('/template/Styles/oratorstd.otf'),
   /* url('Thonburi-Bold.eot'); /* IE */ */
}


/** - HEADER - **/
#header-background {
float: left;
position: absolute;
background: black;
width: 100%;
height: 112px;
z-index: 0;
}

#header-main {
position: relative;
margin:0 auto 0 auto;
width: 1350px;
height: 112px;
z-index: 2;
}

#logo-coi {
position: absolute;
background:url(/template/images/finallogo.png);
width: 378px;
height: 165px;
top:0px;
border: none;
z-index:3;
}

#headerfreeship {
margin-top: 135px;
margin-right: 45px;
font-family: oratorstd;
font-weight: 300;
font-size: 16px;
float: right;
color: #ebebeb;
}

/** - PROMO TOP - **/
#header-promo {
float: left;
left:320px;
position: absolute;
width: 370px;
height:18px;
z-index: 4;
top:35px;
background: url("/template/graphics/freeshipping-v3.png") no-repeat 0 0;
}

/** - SOCIAL MEDIA - **/
#socialmedia-holder {
float: right;
right:16px;
position: absolute;
width: 155px;
height:18px;
z-index: 4;
top:13px;
}

.socialspacer
{
    margin-left:15px;
}

#icon-facebook {
overflow: hidden;
float:left;
width: 19px;
height: 18px;
border: none;
background: url("/template/graphics/icon-facebook.png") no-repeat 0 0;
}

#icon-facebook:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

#icon-twitter {
overflow: hidden;
float:left;
width: 19px;
height: 18px;
border: none;
background: url("/template/graphics/icon-twitter.png") no-repeat 0 0;
}

#icon-twitter:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

#icon-youtube {
overflow: hidden;
float:left;
width: 19px;
height: 18px;
border: none;
background: url("/template/graphics/icon-youtube.png") no-repeat 0 0;
}

#icon-youtube:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

#icon-instagram {
overflow: hidden;
float:left;
width: 19px;
height: 18px;
border: none;
background: url("/template/graphics/icon-instagram.png") no-repeat 0 0;
}

#icon-instagram:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

#icon-pinterest {
overflow: hidden;
float:left;
width: 19px;
height: 18px;
border: none;
background: url("/template/graphics/icon-pinterest.png") no-repeat 0 0;
}

#icon-pinterest:hover {
filter: alpha(opacity=70);
-moz-opacity: 0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
}

/** - SEARCH - **/
#searcharrow {

top: 1px;
left:1px;
border: none;
}

#searchsection {
position: absolute;
height: 25px;
width: 350px;
top: 15px;
right: 45px;
border: none;
z-index: 7;
}

#search-box {
float: right;
right:29px;
position: absolute;
width: 250px;
height:25px;
top:48px;
z-index: 4;
background: white;
}

#search-button {
float: right;
right:1px;
position: absolute;
width: 1px;
height:1px;
top:48px;
z-index: 4;
background: url("/template/graphics/btn-search.png") no-repeat 0 0;
}

/** - CAT SIDE NAV - **/
#sidenav {
width:190px; 
min-height:200px; 
float:left; 
color:#fff;
}

#sidenav li a {
    color:#fff;
     
        
}

#sidenav li a:hover {
    color: #dcdcdc;
}

/** - MAIN NAV TOP - **/
#header-nav-holder {
float: left;
left:445px;
position: absolute;
width: 935px;
height:18px;
z-index: 4;
top: 80px;
}

#btn-newarrivals {
overflow: hidden;
float:left;
width: 150px;
height: 18px;
border: none;
background: url("/template/graphics/btnnewarrivals.png") no-repeat 0 0;
}

#btn-newarrivals:hover {
background: url("/template/graphics/btnnewarrivals.png") no-repeat 0 -21px;
}

#btn-mens {
overflow: hidden;
float:left;
width: 50px;
height: 18px;
border: none;
background: url("/template/graphics/btnmens.png") no-repeat 0 0;
}

#btn-mens:hover {
background: url("/template/graphics/btnmens.png") no-repeat 0 -21px;
}

#btn-womens {
overflow: hidden;
float:left;
/* margin-left: 10px; */
width: 80px;
height: 18px;
border: none;
background: url("/template/graphics/btnwomens.png") no-repeat 0 0;
}

#btn-womens:hover {
background: url("/template/graphics/btnwomens.png") no-repeat 0 -21px;
}

#btn-sale{
overflow: hidden;
float:left;
width: 135px;
height: 18px;
border: none;
background: url("/template/graphics/btnlastchance.png") no-repeat 0 0; /*what was the image here? */
}

#btn-sale:hover {
background: url("/template/graphics/btnlastchance.png") no-repeat 0 -21px; /*what was the image here? */
}


#btn-uncommon{
overflow: hidden;
float:left;
width: 205px;
height: 18px;
border: none;
background: url("/template/graphics/btnuncommon.png") no-repeat 0 0;
}

#btn-uncommon:hover {
background: url("/template/graphics/btnuncommon.png") no-repeat 0 -21px;
}

#btn-giftcards {
overflow: hidden;
float:left;
width: 123px;
height: 18px;
border: none;
background: url("/template/graphics/btn-giftcards-v2.png") no-repeat 0 0;
}

#btn-giftcards:hover {
background: url("/template/graphics/btn-giftcards-v2.png") no-repeat 0 -19px;
}

#btn-jointhecult {
overflow: hidden;
float:left;
width: 155px;
height: 18px;
border: none;
background: url("/template/graphics/btn-jointhecult-v3.png") no-repeat 0 0;
}

#btn-jointhecult:hover {
background: url("/template/graphics/btn-jointhecult-v3.png") no-repeat 0 -18px;
}

#btn-storelocator {
overflow: hidden;
float:left;
width: 155px;
height: 18px;
border: none;
background: url("/template/graphics/btn-storelocator-v2.png") no-repeat 0 0;
}

#btn-storelocator:hover {
background: url("/template/graphics/btn-storelocator-v2.png") no-repeat 0 -19px;
}

.nav-top-margin {
    margin-left:60px;
}

.nav-top-margin-joincult
{
    margin-top: 10px;
}

#maincontent {
    margin-left:50px;
}

#featured-container {
    
    /* height: 405px; */
    width: 1245px;
    margin: 0px 0px 0 0px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.box1, .box2, .box3 {
    
   /* vertical-align: top; */
    display: inline-block;
    *display: inline;
    /* zoom: 1 */
}
.stretch {
    width: 1245px;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.box1 {
    width: 398px ;
    height: 398px;
    background-image:url('http://bcdevelopment.mybigcommerce.com/template/images/cultofmen.jpg');
}
.box2 {
    width: 372px;
    height: 398px;
    background-image:url('http://bcdevelopment.mybigcommerce.com/template/images/Home_Savings_Box_Button.jpg');
}

.box3 {
    width: 398px;
    height: 398px;
    background-image:url('http://bcdevelopment.mybigcommerce.com/template/images/cultofwomen.jpg');
}

#featured-duo {
    
    height: 176px;
    margin-top: 35px;
    margin: 35px 0px 35px 0px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.duo1, .duo2{
    width: 615px;
    height: 176px; 
   /* vertical-align: top; */
    display: inline-block;
    *display: inline;
     zoom: 1 
}
.duostretch {
    width: 1245px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.duo1{
    background-image:url('http://bcdevelopment.mybigcommerce.com/template/images/uncommon.png');
}
.duo2{
    background-image:url('http://bcdevelopment.mybigcommerce.com/template/images/dispatch.png');
}



#stitchsep {
    /* position: relative; */
   
}

.stitchline {
    
    margin-bottom: 35px;
}


//** About Us Page **//
#aboutusblock  {
    
    
}

.aboutustext {
    
    margin: 0;
    font-size: 15px;
    color: fff;
    width: 1245px;
    font-family: "Oswald", sans-serif;
    font-weight: 300 ;
    letter-spacing: 1.5px;
    
}
    

/** - FOOTER - **/
#footer-background {
/*float: left; */


position: relative;
background: white;
width: 1350px;
height: 300px;
margin: auto;
top:-300px;
z-index: 0;
}

#footer-main {
position: relative;
margin:0 auto 0 auto;
width: 1350px;
height: 300px;
z-index: 2;
    
}

.footer-links-left {
    float: left;
    height: 35px;
    margin-left: 50px;
    margin-top: -15px;
    font-size:15px;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300;
    color:#000;
    
        
}

.footer-links-left a {
    
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300;
    color:#000;
    
        
}

.footer-links-right {
    float: right;
    height: 35px;
    margin-top: -15px;
    margin-right: 50px;
    font-size:15px;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 300;
    color:#000;
}


#footer-cell-links {
    float:left;
    width:215px;
    height:150px;
    margin-top:20px;
    margin-left:35px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size:15px;
    font-weight:400;
    line-height:30px;
    color:#000;
}

#footer-cell-links ul a {
 
    color: #000;
    font-family: 'oswald', sans-serif;
    font-weight: 300;
    text-decoration: none;
}
#footer-cell-links ul a:hover {
 
    color: #4c4c4c;
}

#footer-cell-endcap {
    /* float:right; */
    width:280px;
    height:150px;
    margin-top:20px;
    right:0;
    color:#9a9a9a;
    
}

#footer-ssl {
    position:absolute;
    width:80px;
    height:43px;
    margin:70px 0 0 10px;
    background: url(/template/graphics/ssl.png) no-repeat;
}

#footer-copyright {
    position:absolute;
    width:280px;
    height:15px;
    margin-top:120px;
    font-size:10px;
    color:#9a9a9a;
}

#footer-social-label {
    display: inline;
    height: 25px;
    vertical-align:middle;
}    


#footer-newsletter {
    float:left;
    width:250px;
    height:250px;
    margin-top:20px;
    margin-left:50px;
    
    background: url(/template/images/Mailing_List_Footer_Button.jpg) no-repeat;
    color:#000;
}
#clickableNewsLetter{
    width:250px;
    height:250px;
    margin-top:20px;
    margin-left:50px;
    background-color: red;
}

#footer-newsletter a {
    color:#000;
    margin-top:100px;
    margin-left: 100px;
    font-family: 'Oswald', sans-serif;
    font-size:15px;
    font-weight:400;
    
}
    

    

#footer-press {
position: relative;
margin:0 auto 0 auto;
width: 1350px;
height: 190px;
top:10px;
display:none;
}

/** - PRESS - **/

#content-section {
}

#title-section {
font-weight: bold;
padding-top: 5px;
padding-bottom: 5px;
}

.press-thumb-editorial-holder {
float: left;
width: 260px;
height: 380px;
}

.press-thumb-editorial {
width: 230px;
height: 324px;
margin: 0 18px 0 18px;
}

.press-thumb-text {
width: 150px;
height: 40px;
margin: 10px 18px 0 60px;
text-align: center;
}

.press-main-holder {
position:absolute;
float: left;
width: 160px;
height: 150px;
top:40px;
}

.press-thumb-main {
width: 160px;
height: 95px;
margin: 0 18px 0 18px;
}

.press-main-text {
width: 160px;
height: 30px;
margin: 10px auto;
text-align: left;
}

/** - PRESS - **/
.ProductDetailsGrid h1, #ProductReviews h3, #SimilarProductsByCustomerViews h3, .StyleGuide {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: .1em;
    
}
.ProductTinyImageList ul li {
 border: 0px !important;   
    margin-bottom: 10px;
}
.ProductTinyImageList ul {
 width: 172px !important;   
}
}
.ProductTinyImageList {
 max-width: 119px !important;   
}
.TinyOuterDiv div a img{
 margin: 0px 0px 10px 0px !important;   
    padding-top: 0px !important;
}
.TinyOuterDiv{
 border: 0px !important;   
}

.ImageCarouselBox {
    position: absolute;
    margin: -566px 0px 0px 374px !important;
   /* position: fixed;*/
    padding-left: 0px !important;
    z-index: 0;
}
.ProductAddToCart .productAttributeLabel {
    text-align: left;
}
.productAddToCartRight{
   /* margin-left: 72px;*/
}
.Label.QuantityInput{
 margin-left: -177px !important;   
}

.ProductDescriptionContainer > p {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16.5px;
    letter-spacing: 2px;
    color: #9F9F9F;
}

.ProductDescriptionContainer li{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16.5px;
    letter-spacing: 2px;
    color: #fff;
}
 .ProductList li:nth-child(1n+100){
    display: none; 
}
.ProductDescriptionContainer ul{
    margin: 0px;
}
#ProductReviews div p{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16.5px;
    letter-spacing: 2px;
    color: #9F9F9F;
}
.footerdivider {
    margin: 0 22px;
}
#nl_email {
    margin-left: 16px;
    margin-right: auto;
    margin-top: 110px;
    margin-bottom: 10px;
    text-align: center;
    width: 210px;
}
.NewsletterSubscription .Button{
    background: lightgray;
    padding: 5px 10px;
     margin-left: 96px;
}
.ProductDetailsGrid .Label{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
    color: #fff;
}
.productAttributeLabel{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
    color: #fff;

}
::-webkit-input-placeholder {
   font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #c2c2c2; 
    text-transform: uppercase;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #c2c2c2;   
    text-transform: uppercase;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1,5px;
    color: #c2c2c2;  
    text-transform: uppercase;
}

:-ms-input-placeholder {  
   font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: #c2c2c2; 
    text-transform: uppercase;
}
.productAttributeLabel .required {
    display: none;
}
#customaddtocart{
    border: none;
    background-color: transparent;
    padding: 0;
    text-decoration: none; /* if desired */
    color: #f00;  /* or whatever other color you want */
    cursor: pointer;
    display: block;
    margin-left: -45px;
    margin-top: -27px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
    
}
#customaddtowishlist{
    border: none;
    background-color: transparent;
    padding: 0;
    text-decoration: none; /* if desired */
    color: #f00;  /* or whatever other color you want */
    cursor: pointer;
    display: block;
    /*margin-left: -45px;*/
    /*margin-top: -27px;*/
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
    
}
#customproductreview{
    border: none;
    background-color: transparent;
    padding: 0;
    text-decoration: none; /* if desired */
    color: #f00;  /* or whatever other color you want */
    cursor: pointer;
    display: block;
    /*margin-left: -45px;*/
    /*margin-top: -27px;*/
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
}
#customsizeguide, #customsizeguide a{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 20px;
    margin-left: 1px;
    
}
.arrow-right {
    width: 10px; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #f00;
   display: inline-block;
    position: absolute;
    float: left;
        margin-left: 5px;
    margin-top: 5px;
}
.SideNavMain{
    font-size:18px !important; 
        text-transform: uppercase;
    font-weight: 300 !important;

}
.SideNavSub{
    font-size:14.5px !important;
    margin-left:37px !important;
    padding: 3px 0 5px 0 !important;
    font-family: "Oswald", sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 1.5px;
}
.SideNavSub a{
    font-size:14.5px !important;
    font-family: "Oswald", sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 1.5px;

}

.ImageCarouselBox{
    /*display: inline-block;*/
}

.ProductThumb{
    max-height: 540px !important;
    height: 540px !important;
}
#footer-cell-links img {
    margin-top: -2px;
}
#LayoutColumn2 > img {
    margin-left: 20px;
}

#rating_box {
    font-family: "Oswald", sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 1.5px;
}
.addthis_toolbox.addthis_default_style.addthis_32x32_style {
    float: right;
    margin-top: 10px;
}
.CheckoutRedeemCoupon h4, .CheckoutRedeemCoupon p  {
    color: #000;
}









/** - Women's Outerwear - **/


.Content {
	float: left;
	width: 1000px;
	/* min-height: 680px; */
	/* margin-left: 10px; */
	padding: 0 0 60px 0;
}






