/* Color: White */

@font-face {
    font-family: 'oratorstd';
    src: url('oratorstd.eot');
    src: url('oratorstd.eot') format('embedded-opentype'),
         url('oratorstd.woff') format('woff'),
         url('oratorstd.ttf') format('truetype'),
         url('oratorstd.svg#OratorStdRegular') format('svg');
}

body {
    body {
background-color: #3b3b3b;
color: #4C4D4F;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
margin: 0;;
}
}
a {
 /* color: #9a9a9a; */
    color: #ebebeb;
    font-family: 'oswald', sans-serif;
    /* font-weight: 300; */
    text-decoration: none;
}
a:hover {
    color: #c3c3c3;
}

.SalePrice
{
    color:#c21d2e;
}

.YouSave
{
    color:#c21d2e;
}


#ContainerLower {
    background: #f3f3f3 url(../../CleanContrast/images/white/BgContainerLower.gif) 0 0 repeat-x;
    border-top: 1px solid #222;
}
#ContainerFooter {
    background: #fff url(../../CleanContrast/images/white/BgContainerFooter.gif) 0 0 repeat-x;
    border-top: 1px solid #1d1d1d;
}
#Wrapper {
   /*  background: white; */
}

#SearchForm input {
   padding-top: 4px;
  /*padding-bottom: 2px; */
    padding-left: 2px;
    width: 250px;
    height: 20px;
    background: #2b2b2b;
    border: 0;
    color: #d7d7d7;
    font-family: oratorstd;
    font-size: 14px;
    text-transform:uppercase;    
}

#TopMenu li a {
    color: #a5a5a5;
    text-decoration: none;
}
#TopMenu li div {
    color: #a5a5a5;
    text-decoration: none;
}
#TopMenu li a:hover {
    color: #737373;
    text-decoration: none;
}


#Menu {
    background: url(../../CleanContrast/images/white/DropdownMenuBg.gif) 0 -9999px no-repeat; /* Preload dropdown img */
}
#Menu li a {
    color: #fff;
    border-left: 1px solid #505050;
}
#Menu li a:hover {
    color: #dcdcdc;
}
#Menu li.First a {
    border: 0;
}
#Menu li ul {
    border: 1px solid #505050;
    border-top: 0;
    background: #2a2a2b url(../../CleanContrast/images/white/DropdownMenuBg.gif) 100% 0 no-repeat;
}
#Menu li li {
    border-bottom: 1px solid #403e40;
}
#Menu li li:last-child {
    border: 0;
}
#Menu li li a {
    border: 0;
}


#Logo h1, #Logo h1 a {
    color: #fff;
}

#SearchForm .Button {
width: 1px;
height: 1px;
border: 0;
padding: 0;
margin: -1px 0 0 144px;
vertical-align: top;
display: block;
position: absolute;
}


.Block.banner_home_page_top, .Block.banner_category_page_top, .Block.banner_brand_page_top, .Block.banner_search_page_top {
    background: url(../../CleanContrast/images/white/banner_shdw.png) 0 100% no-repeat;
}


.Left .Block {
    /* background: url(../../CleanContrast/images/white/BgLeftBlock.png) 0 0 no-repeat; */
}
.Left li {
    
}
.Left #SideCategoryList li a, .Left #SideShopByBrand li a {
    padding-left: 0px;
}
.Left #SideCategoryList li li {
    <!--background: url(../../CleanContrast/images/white/SidebarLi.gif) 0 0 no-repeat;-->
}
.Left #SideCategoryList li li a {
    <!--background: url(../../CleanContrast/images/white/SidebarArrowSmall.gif) 0 50% no-repeat;-->
}

/* Category flyout styles */
#SideCategoryList .sf-menu ul {
}
#SideCategoryList .sf-menu ul li {
    background: #eaeaea;
}
#SideCategoryList .sf-menu li li a {
    background-image: none;
}


.Right .Block {
    /*background: url(../../CleanContrast/images/white/BgRightBlock.png) 0 0 no-repeat;*/
}
.Right li {
    background: url(../../CleanContrast/images/white/SidebarLi.gif) 0 100% no-repeat;
}


#ContainerLower .Divider {
    background: url(../../CleanContrast/images/white/Line.gif) 510px 0 repeat-y;
}
#HomeRecentBlogs li {
    background: url(../../CleanContrast/images/white/NewsArrow.gif) 0 50% no-repeat;
}
#Footer p {
    color: #979797;
}
#Footer a {
    color: #c7c7c7;
}


.NewsletterSubscription input {
    border: 1px solid #dcdcdc;
}
#ContainerLower .NewsletterSubscription h2, #ContainerLower .NewsletterSubscription label {
    color: #fff;
}


#ContainerLower #HomeRecentBlogs h2, #ContainerLower #HomeRecentBlogs li a {
    color: #fff;
}
#ContainerLower #HomeRecentBlogs li a:hover {
    color: #dcdcdc;
}


.Content .ProductList .ProductImage {
    background: #fff;
     display: inline;
    margin: auto;
}
.ProductPrice, .ProductList em {
    color: red;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
}
.ProductList .Rating {
    color: #9a9a9a;
    display:none;
}


.Right .TopSellers li .TopSellerNumber { /* Contains the number of the item */
    background: #515151;
    color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkitborder-radius: 2px;
}


.Breadcrumb {
    background: url(/template/graphics/bg-stitch-black-1.png) repeat-x 0 16px;
}


.CompareItem { width:200px; border-left: solid 1px #dcdcdc; }
.CompareFieldName { font-weight:bold; border-bottom: 1px solid #dcdcdc; }
.CompareFieldTop { border-bottom:solid 1px #dcdcdc; }
.CompareFieldTop a:hover { color:#4e4e4e; }
.CompareCenter { border-left:solid 1px #dcdcdc; border-bottom:solid 1px #dcdcdc; }
.CompareLeft { border-left:solid 1px #dcdcdc; border-bottom:solid 1px #dcdcdc; }


.ViewCartLink {
    background: url('../../CleanContrast/images/white/Cart.gif') no-repeat 0 50%;
}

table.CartContents, table.General {
    border: 1px solid #dcdcdc;
}

table.CartContents thead tr th, table.General thead tr th {
    background: #000;
    color: #fff;
    border-bottom: 1px solid #dcdcdc;
}

.CartContents tfoot .SubTotal td {
    border-top: 1px solid #dcdcdc;
    color: #606060;
}

.JustAddedProduct {
    border: 1px solid #dcdcdc;
    background: #fff;
}
.JustAddedProduct strong, .JustAddedProduct a {
    text-decoration: none;
}
.JustAddedProduct a:hover {
    text-decoration: none;
}


.CategoryPagination {
    color: #606060;
    background: #f4f4f4;
    border: 1px solid #dcdcdc;
}
.CheckoutRedeemCoupon { background: #f4f4f4; border: 1px solid #dcdcdc; padding: 10px; width: 300px; border: 1px solid #dcdcdc; margin-bottom: 10px; }
.SubCategoryList, .SubBrandList {
    background:#f4f4f4;
    border: 1px solid #dcdcdc;
}
.InfoMessage {
    background: #fff;
    border: 1px solid #dcdcdc;
    color: #606060;
}
.SpecificInfoMessage {
    color: #606060;
    background-color: #f8e4d1;
    border: 1px solid #dcdcdc;
}
.SuccessMessage {
    background: #fff;
    border: 1px solid #dcdcdc;
    color: #606060;
}
.ErrorMessage {
    background: #fff;
    border: 1px solid #dcdcdc;
    color: #606060;
}


.ComparisonTable tr:hover td, .ComparisonTable tr.Over td {
    background: #f4f4f4;
}
.QuickSearch { border: 1px solid #dcdcdc }
.QuickSearchHover td{ background: #f4f4f4; }
.QuickSearchAllResults a { background: url('../../CleanContrast/images/white/QuickSearchAllResultsButton.gif') no-repeat right; }
.QuickSearchResult .Price { color: #4e4e4e; }
.CreateAccount {
    border-right: 1px solid #dcdcdc;
}
.SearchTips .Examples {
    background: #f4f4f4;
    border: 1px solid #dcdcdc;
}
hr {
    background:url(/template/graphics/bg-stitch-black-1.png) repeat-x;
}
.Right hr {
    background: transparent;
    border: 0;
}
.MiniCart .SubTotal {
    color: #4e4e4e;
}


/* Shipping Estimation on Cart Contents Page */
.EstimateShipping {
    background: #f4f4f4;
    border: 1px solid #dcdcdc;
}


/* Express Checkout */
.ExpressCheckoutBlock .ExpressCheckoutTitle {
    background: #f6f5f5 url(../../CleanContrast/images/white/ExpressChktSel.gif) 0 0 repeat-x;
    color: #010101;
    border: 1px solid #bcbcbc;
}
.ExpressCheckoutBlockCollapsed .ExpressCheckoutTitle {
    background: #f4f4f4;
    color: #606060;
    border: 1px solid #dcdcdc;
}
.ExpressCheckoutBlockCompleted .ExpressCheckoutCompletedContent {
    color: #9a9a9a;
}


/* General Tables */
table.General tbody tr td {
    border-top: 1px solid #dcdcdc;
}


/* Tabbed Navigation */
.TabNav {
    border-bottom: 1px solid #dcdcdc;
}
.TabNav li a {
    border: 1px solid #dcdcdc;
    background: #f4f4f4;
    color: #606060;
}
.TabNav li a:hover {
    background-color: #dcdcdc;
}
.TabNav li.Active a {
    border-bottom: 1px solid #dcdcdc;
    background: #2f2f2f;
    color: #fff;
}

/* Product Videos */

#VideoContainer {
    border: 1px solid #dcdcdc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.currentVideo {
    background-color: #ddf0f6;
}

.videoRow:hover {
    background-color: #efefef;
}

.CartContents .ItemShipping th {
    border-bottom-color: #dcdcdc;
    border-top-color: #dcdcdc;
    background: #f4f4f4;
    color: #2f2f2f;
}


/* start fast cart styles */
#fastCartContainer {
    font-size: 13px;
}
.fastCartContent h2 {
    color: #010101;
    background-color:transparent;
}
.fastCartContent h3 {
    color: #606060;
    background-color:transparent;
}
.fastCartSummaryBox {
    background-color: #eaeaea;
}
.fastCartContent .fastCartTop a,
.fastCartContent .ProductList .ProductDetails a {
    color: #010101;
}
.fastCartContent .ProductPrice,
.fastCartContent .ProductList em {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
}
.fastCartContent .Quantity {
    color: #606060;
}
.fastCartContent p {
    color: #444444;
}
.fastCartContent .ProductList li {
    background-color: #FFF;
}
/* end fast cart styles */

.StyleGuide {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18.5px;
    letter-spacing: 2px;
     margin-bottom: 17px;
    margin-top: 27px;
    
}
.NotifyMessage {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #000000;
    margin-bottom: 20px;
    padding: 15px 15px 0;
}
