<div class="FacebookLikeButtonContainer">
    <iframe %%GLOBAL_FrameWidth%% src="http://www.facebook.com/plugins/like.php?href=%%GLOBAL_FacebookButtonHref%%&amp;colorscheme=light&amp;height=65;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>