<li style = "height:172px; width:115px;" onmouseover="%%GLOBAL_TinyImageOverJavascript%%" onclick="%%GLOBAL_TinyImageClickJavascript%% return false;" id="TinyImageBox_%%GLOBAL_ProductThumbIndex%%">
    <div class="TinyOuterDiv" style = "height:%%GLOBAL_ProductMaxTinyHeight%%px; width:%%GLOBAL_ProductMaxTinyWidth%%px;">
        <div style = "height:%%GLOBAL_ProductMaxTinyHeight%%px; width:%%GLOBAL_ProductMaxTinyWidth%%px;">
            <a href="javascript:void(0);" rel='{"gallery": "prodImage", "smallimage": "%%GLOBAL_ProductThumbImageURL%%", "largeimage": "%%GLOBAL_ProductZoomImageURL%%"}'><img id="TinyImage_%%GLOBAL_ProductThumbIndex%%" width="115px" height="172px" src="%%GLOBAL_ProductTinyImageURL%%" alt="%%GLOBAL_ImageDescription%%" title="%%GLOBAL_ImageDescription%%" /></a>
        </div>
    </div>
</li>
